body {
  background: linear-gradient(#981616, #530D0D);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}